
<% unless @groups.blank? %>
<table>
  <tr>
    <th><%= t("group.name") %></th>
    <th><%= t("group.number") %></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.number %></td>
    <td><%= link_to t("group.shuffle"), :controller => "shuffle", :group_id => group.id %></td>
    <td><%= link_to t("group.member"), :controller => "members", :group_id => group.id %></td>
    <td><%= link_to t("menu.show"), :action => "show", :id => group.id %></td>
    <td><%= link_to t("menu.edit"), :action => "edit", :id => group.id %></td>
    <td><%= link_to t("menu.destroy"), { :action => "destroy", :id => group.id }, :confirm => "本当に削除してよろしいですか？" %></td>
  </tr>
<% end %>
</table>

<br />

<% end %>

<%= link_to t("group.new"), :action => "new" %>