
<p>
  <b><%= t("group.name") %></b>
  <%= @group.name %>
</p>

<p>
  <b><%= t("group.number") %></b>
  <%= @group.number %>
</p>


<%= link_to t("menu.edit"), :action => "edit", :id => @group.id %> |
<%= link_to t("menu.list"), :action => "index" %>