
<% if @group.allow_manage?( session[:user_id] ) %>
<p>
<%= link_to t("group.shuffle"), :action => "index", :group_id => @group.id, :flag => "shuffle" %>
　<%= link_to t("group.reset"), :action => "index", :group_id => @group.id, :flag => "reset" %>
　<%= link_to t("group.name_order"), :action => "index", :group_id => @group.id, :flag => "name_order" %>
</p>
<% end %>

<table>
  <tr>
  <% @group.number.times { |index| %>
    <%# グループ番号 %>
    <th>Group <%= index + 1 %></th>
  <% } %>
  </tr>
  
<% if @group.allow_manage?( session[:user_id] ) %>
  <tr>
  <% @group.number.times { |index| %>
    <td>
    <%# メンバー追加 %>
    <%= form_for :member, :url => { :action => "add_member" } do |f| %>
      <%= f.text_field :name %>
      <%= f.hidden_field :group_id, { :value => @group.id } %>
      <%= f.hidden_field :group_number, { :value => (index + 1) } %>
      <%= f.submit t("menu.add"), :disable_with => t("menu.add") %>
    <% end %>
    </td>
  <% } %>
  </tr>
<% end %>

  <% unless @member_hash.blank? %>

  <%= form_for :members, :url => { :action => "fix", :group_id => @group.id } do |f| %>
  <tr>
  <% @group.number.times { |index| %>
    <td>
    <%# グループメンバー %>
    <% @member_hash[index + 1].shuffle! if params[:flag] == "shuffle"  %>
    
    <% unless @member_hash[index + 1].blank? %>
    <% @member_hash[index + 1].each_with_index { |member,order_number| %>
      <%= member[:name] %><br />
      <%= f.hidden_field member[:id], { :value => order_number + 1 } %>
    <% } %>
    <% end %>
    </td>
  <% } %>
  </tr>

<% if @group.allow_manage?( session[:user_id] ) %>
  <tr>
    <td colspan="<%= @group.number %>">
      <%# 順序確定 %>
      <%= f.submit t("group.fix"), :disable_with => t("group.fix") %>
    </td>
  </tr>
<% end %>
  <% end %>
  
  <% end %>
</table>

<br />

<%= link_to "メンバー一覧", :controller => "members", :action => "index", :group_id => @group.id %>

<br />
<br />

<%= link_to t("menu.top"), :root %>
