<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @member.group_id %>
</p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Group number:</b>
  <%= @member.group_number %>
</p>


<%= link_to t("menu.edit"), :action => "edit", :id => @member.id %> |
<%= link_to t("menu.list"), :action => "index" %>
